[user]
    name = fkoh111
    email = frederik_kok@icloud.com
[core]
    editor = nano
    excludesfile =~/.gitignore_global
    ignorecase = false
[credential]
    helper = "/mnt/c/Program \\Files/Git/mingw64/libexec/git-core/git-credential-manager.exe"